# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Backup / temp
*.swp
*.tmp
*.bak

# Ignore VS Code SQL scratch files
src/Untitled-*.sql
